
        .banner_text {
            font-size: 2rem;
            font-family: Tahoma, sans-serif;
            text-align: center;
            font-weight: bold;
            line-height: 60%;
            margin: 5%;
        }
        .subtitle {
            text-align: center;
            font-size: 1.5rem;
            line-height: 60%;
            font-family: Tahoma, sans-serif;
        }
        .intro {
            text-align: left;
            margin: 5%;
            font-size: 18px;
            font-family: Tahoma, sans-serif;
        }
        .atm {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            transform: translateY(-1.2rem);
            padding-left: 3rem;
            padding-right: 3rem;
            line-height: 30px;
            float: center;
        }
        .main {
            font-family: Tahoma, sans-serif;
            line-height: 30px;
            text-align: justify;
            font-weight: normal;
            font-size: 18px;
        }
        .context {
            font-family: Tahoma, sans-serif;
            line-height: 30px;
            text-align: justify;
            font-weight: normal;
            font-size: 18px;
            margin-top: 3%;
        }
        .footer {
            font-size: 12px;
            font-family: Tahoma, sans-serif;
            font-weight: lighter;
            margin-top: 3%;
        }
        .names {
            font-size: 13px;
            display: flex;
            align-items:flex-start;
            font-family: Tahoma, sans-serif;
            letter-spacing: 0.1rem;
            justify-content: center;
            gap: 12px;
            line-height: 25%;
            margin-top: 1%;
        }
        .copyright {
            font-size: 13px;
            font-family: Tahoma, sans-serif;
            text-align: center;
            font-weight: normal;
            margin-top: 32px;
        }
